@import 'colors';
@import 'fontstyle';
.navi{
    margin: 2mm;
    width: 160mm;
    margin-left: 90mm;
    position: relative;
    border-radius: 4mm;
}
.bodcontent{
    height: auto;
    width: 300mm;
    margin-left: 20mm;
	border-radius: 4mm;
}
.foot{    
    display: flex;
    flex: .5;
    margin: 2mm;
    text-align: center;
    width: 60mm;
    border-radius: 4mm; 
    margin-left: 130mm;  
}
.maininfo{
    position: relative;
    h1{
        font-size: 25mm;
        padding-left: 4mm;
        text-align: center;
    }
    
    p{
        padding: 10mm;
        word-wrap: break-word;
    }
}
.exam{
    margin-left: 9mm;
    padding: 5mm;
    h2{
        font-size: 22mm;
        padding-left: 4mm;
    }
    h3{
        font-size: 22mm;
        font-style: oblique;
        padding-left: 4mm;
    }
    h4{
        font-size: 15mm;
        padding-left: 4mm;
    }
    h5{
        font-size: 10mm;
        padding-left: 4mm;
    }
    h6{
        font-size: 10mm;
        font-style: italic;
        padding-left: 4mm;
    }

}
.stybutton{
        background-color: $foreground / 5;
        border-radius: 4mm;
        border-color: $foreground / 5;
        color: $fontcolor;
}
.impbutton{
    background-color: $foreground * 5;
    border-radius: 4mm;
    border-color: $foreground * 5;
    color: $fontcolor;
}
.infop{
    font-size: $fontsize /3;
}
.mod{
    display: none;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    position: fixed;
    z-index: 1;
    overflow: auto;
    padding-top: 100px;
    background-color: transparentize(($foreground * 1.5),0.3);
}
.modcon{
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

}
.drop{
    padding: 2mm;
    i{
        font-size: $fontsize / 2; 
    }
    display: inline-block;
}
.dropcon{
    display: none;
    z-index: 10;
    position: absolute;
}
.drop:hover .dropcon{
    display: inline-block;
}
.slids{
    position: relative;
    margin: 2mm;
}
.before {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 0;
  }
  .after {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    right: 0;
  }
.slidspic{
    display: none;
}
.position{
    position: absolute;
    background-color: unset;
    left: 50%;
    bottom: 10;
    transform: translateX(-50%);
}
.ind{
    border-radius: 4mm;
    cursor: pointer;
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: white;
}
.dealtime{
    margin-left: 500px;
}

@media all and (max-width: 800px){
    .navi{
        margin-left: 10mm;
    }
    .bodcontent{
        width: 130mm;
    }
    .foot{
        margin-left: 60mm;
    }
} 